.back {
    margin: 2vh 0;
}
.back a {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #968F82;
}
.name-page {
    margin: 3vh 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    border: none;
    border-top: 3px solid #968F82;
    width: 7vw;
}
h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 68px;
    text-transform: uppercase;
    margin: 0 2vw;
}

.products {
    margin: 4vh 0;
}
.product {
    display: flex;
    flex-direction: row;
    margin: 2vh 0;
}
.product-photo {
    width: 15%;
}
.product-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: -80%;
    flex-wrap: wrap;
}
.name-product {
    width:38%;
}
.product-information a {
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    text-transform: uppercase;
    /*margin-left: 10%;*/
}
.product-information p {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 41px;
    color: #B9AC92;
}
.total-price-order{
    font-weight: 500;
    font-size: 30px;
    margin: 5vh 0;
}
.total-price-order span{
    font-size: 30px;
    color: #968f82;
}


@media (max-width: 1200px) {
    .back a {
        font-size: 18px;
        line-height: 25px;
    }
    hr {
        border-top: 2px solid #968F82;
    }
    h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .list li {
        font-size: 25px;
    }
    .list span {
        font-size: 25px;
        line-height: 40px;
    }
}
@media (max-width: 992px) {
    .back a {
        font-size: 15px;
        line-height: 25px;
    }
    h1 {
        font-size: 35px;
        line-height: 55px;
    }
    .list li {
        font-size: 20px;
    }
    .list span {
        font-size: 20px;
        line-height: 30px;
    }
}
@media (max-width: 768px) {
    .name-page hr {
        border-top: 1px solid #968F82;
    }
    .list li {
        font-size: 15px;
    }
    .list span {
        font-size: 15px;
        line-height: 25px;
    }
}
@media (max-width: 576px) {
    .back a {
        font-size: 13px;
        line-height: 18px;
    }
    .name-page hr {
        border-top: 1px solid #968F82;
    }
    .name-page h1 {
        font-size: 18px;
        line-height: 25px;
    }
    .list li {
        font-size: 13px;
    }
    .list span {
        font-size: 13px;
        line-height: 18px;
    }
}
